<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>


    <title>Student Test</title>
  </head>
  <body>
    <div id="app">
      <h4>학생 관리</h4>
      <hr />
      <table>
        <thead>
          <tr>
            <td>StudentId</td>
            <td>StudentNm</td>
            <td>email</td>
            <td>phone</td>
          </tr>
        </thead>
        <tbody>
            <!-- {"studentId":2,"studentNm":"1","email":"1","phone":"1"} -->
            <tr v-for="(student, index) in studentList" :key="index" @click="detailStudent( student.studentId )">
                <td>{{student.studentId}}</td>
                <td>{{student.studentNm}}</td>
                <td>{{student.email}}</td>
                <td>{{student.phone}}</td>
            </tr>
        </tbody>
      </table>
      <hr />
      <form>
        <table>
          <tbody>
            <tr>
              <td>StudentNm</td>
              <td><input type="text" name="studentNm" v-model="student.studentNm" /></td>
            </tr>
            <tr>
              <td>Email</td>
              <td><input type="text" name="email"  v-model="student.email" /></td>
            </tr>
            <tr>
              <td>Phone</td>
              <td><input type="text" name="phone"  v-model="student.phone" /></td>
            </tr>
          </tbody>
        </table>
      </form>
      <div style="border: 1px; margin: auto; text-align: center">
        <button @click="insertStudent">등록</button>
        <button @click="updateStudent">수정</button>
        <button @click="deleteStudent">삭제</button>
        <button @click="clear">초기화</button>
      </div>
    </div>

    <script>
           // #1. 서버와의 통신 url
           // fetch('/students'); => 같은 서버에서 html 을 다운로드 한 경우
           // fetch('http://localhost:8080/students') <= Postman 에서 실행하는 형태로 url

           // #2. 언제 서버와의 통신
           // life-cycle method
           // create / mount / update / ==> 최초 back-end 요청 데이터는 created

           // #3. Dynamic Rendering 예제 참조
           new Vue({
               el: '#app',
               data(){
                   return {
                       studentList: [],

                       student: {
                        studentId: 0, 
                        studentNm: '',
                        email: '',
                        phone: ''
                       }
                   }
               },
               methods:{
                   async listStudent(){
                       // fetch
                       // get /students
                        try{
                            // let response = await fetch('http://localhost:8080/students');
                            // let data = await response.json(); // data == student 객체의 배열
                            // this.studentList = data;

                            let {data} = await axios.get('http://localhost:8080/students');
                            console.log(data);
                            this.studentList = data;

                        }catch(error){
                            console.log(error)
                        }
                   },
                   async detailStudent(studentId){
                    let url = 'http://localhost:8080/students/' + studentId;

                    try{
                        let response = await fetch(url);
                        let data = await response.json();
                        this.student = data;
                        console.log(this.student);
                    }catch(error){
                        console.log(error)
                    }
                   },
                   async insertStudent(){
                    // console.log(this.student);

                    // let urlParams = new URLSearchParams(this.student);
                    // let fetchOptions = {
                    //     method : "POST",
                    //     body : urlParams
                    // }

                    // try{
                    //     let response = await fetch('http://localhost:8080/students', fetchOptions)
                    //     let data = await response.json();
                    //     console.log(data);
                    //     this.listStudent();
                    //     this.clear();
                    // }catch(error){
                    //     console.log(error)
                    // }

                    // axios는 post, put 등을 json으로 전송 raw - json <= backend @RequestBody
                    // 전송 시에 javascript object => json으로 변경하는 건 axios가 자동으로 처리
                    // 대신 우리는 json이 아닌 javascript object를 parameter로 전달 => this.student
                      try{
                        let {data} = await axios.post('http://localhost:8080/vue/students', this.student)
                        
                        console.log(data);

                        this.listStudent();
                        this.clear();
                    }catch(error){
                        console.log(error)
                    }


                   },
                   async updateStudent(){

                        let urlParams = new URLSearchParams(this.student);
                        let fetchOptions = {
                            method : "PUT",
                            body : urlParams
                        }

                        try{
                            let {data} = await axios.put('http://localhost:8080/vue/students/' + this.student.studentId, this.student)
                            
                            console.log(data);
                            this.listStudent();
                            this.clear();
                        }catch(error){
                            console.log(error)
                        }
                    },
                    async deleteStudent(){

                        let fetchOptions = {
                            method : "DELETE",
                        }

                        try{
                            let {data} = await axios.delete('http://localhost:8080/vue/students/' + this.student.studentId)
                            
                            console.log(data);
                            this.listStudent();
                            this.clear();
                        }catch(error){
                            console.log(error)
                        }
                    },
                   clear: function(){
                    this.student.studentId = '';
                    this.student.studentNm = '';
                    this.student.email = '';
                    this.student.phone = '';
                   }
               },
               created(){
                   this.listStudent();
               }
           });
    </script>
  </body>
</html>